<ul class="nav navbar-nav">
  <li{% if page.slug=="getting-started" %} class="active" {% endif %}>
    <a href="../getting-started/">Getting started</a>
  </li>
  <li{% if page.slug=="css" %} class="active" {% endif %}>
  <a href="../css/">CSS</a>
    </li>
  <li{% if page.slug=="components" %} class="active" {% endif %}>
    <a href="../components/">Components</a>
  </li>
  <li{% if page.slug=="js" %} class="active" {% endif %}>
    <a href="../javascript/">JavaScript</a>
  </li>
  <li{% if page.slug=="customize" %} class="active" {% endif %}>
    <a href="../customize/">Customize</a>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li>
    <!--<a href="{{ site.blog }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">Blog</a>-->
  </li>
</ul>
