<!--<div class="container">-->
  <h1 class="page-header">Hi there!</h1>
  <h2><small>Glad you could make it to the site!</small></h2>
  <p>Unfotrunately, I don't have much to show you at this time. This project is still in it's planning stage, and you seem to have made it here a little earlier than I had expected. But don't worry, as long as this site it up, the project is still in development and should have an early release soon! If you came here to get involved, please check the project out on <a href="https://github.com/bsextras/bootstrap-extras">GitHub</a>.</p>
  <h3 class="page-header">Reason for a docs site without any code?</h3>
  <p>A mentor (of sorts) recently challenged my stubbornly, agile, approach to projects (has something against cowboys or something..). The challenge was: To create a docs-first project and spend a little more time on endpoint design. This site will act as a layout for the planned components.</p>
  <h3>That's all for now.. until next time.</h3>
<!--</div>-->
